<style>
        
    .embed-googlemaps2 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }

.embed-googlemaps2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
    
</style>

<div class = "embed-googlemaps2">

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10282.849407946678!2d-97.153091!3d49.8854282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdbc10c8ad8085db7!2sStephen%20Klatt%2C%20MPT%20Physiotherapist!5e0!3m2!1sen!2sca!4v1591333781843!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</div>
