<nav>   
<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://github.com/klattphysio/klattphysio.github.io/blob/master/_includes/nav.css">

<div class="topnav" id="myTopnav">
  <a href="https://klattphysio.github.io/" class="active">Home</a>
  <a href="https://klattphysio.github.io/conditions">Conditions</a>
  <a href="https://klattphysio.github.io/treatment">Treatment</a>
  <a href="https://klattphysio.github.io/faqs">FAQs</a>
  <a href="https://klattphysio.github.io/about">About</a>
  <a href="https://klattphysio.github.io/contact">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
</nav>
