<!DOCTYPE html>

<!-- Navigation / nav-wrapper component -->
  <header class="nav-wrapper">
    <nav class="nav">
      <button class="toggle-nav" type="button">
        <div class="burger -squeeze -offset" type="button">
          <span class="burger-lines"></span>
        </div>
      </button>
      <a class="logo-link" href="#">
        <img class="logo" id="logo" src="assets/images/logo.svg" alt="Logo">
      </a>
      <ul class="nav-list" role="navigation">
        <div class="list -left">
          <li class="item">
            <a class="link" href="https://github.com/obscuredetour/simply-nav">GitHub</a>
          </li>
          <li class="item">
            <a class="link" href="#features">Features</a>
          </li>
          <li class="item">
            <a class="link" href="#custom">Customizable</a>
          </li>
          <li class="item">
            <a class="link" href="#how-to-use">How to use</a>
          </li>
          <li class="item">
            <a class="link" href="#example">Example</a>
          </li>
        </div>
        <div class="list -right">
          <div class="overlay"></div>
        </div>
      </ul>
    </nav>
  </header>
