---
---

@import "{{ site.theme }}";

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


// <!-- https://www.tutorialrepublic.com/css-tutorial/css3-media-queries.php media query this changes size for different devices-->
.container {
    margin: 0 auto;
    background: #f2f2f2;
    box-sizing: border-box;
}
/* Mobile phones (portrait and landscape) ---------- */
@media screen and (max-width: 767px){
    .container {
        width: 340px;
        padding: 0 10px;
    }
}
/* Tablets and iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .container {
        width: 750px;
        padding: 0 10px;
    }
}
/* Low resolution desktops and laptops ---------- */
@media screen and (min-width: 1024px) {
    .container {
        width: 980px;
        padding: 0 15px;
    }
}
/* High resolution desktops and laptops ---------- */
@media screen and (min-width: 1280px) {
    .container {
        width: 1200px;
        padding: 0 20px;
    }
}
// This changes the colour of the footer text
#footer_wrap p {
  color: #404040;
}

.no-shadows {
    box-shadow: none!important;
    border: none!important;
}

.move-heart-up {
    margin-bottom:14px;
}

.vertical-menu {
  width: 315px;
}

.menu-left {
  float: left;
}
/* Teal
background-color: #447785;
color: #DEE9EC
*/
.menu-center {
  width: 500px!important;
  border-radius: 25px;
  text-align: center
}

@media screen and (min-width: 660px) {
  .menu-right {
    float: right;
  }
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}
