<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta property="og:image" content="http://www.klattphysio.ca/Social-Media-Preview.png" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <!-- https://www.linkedin.com/pulse/how-add-social-media-links-your-google-business-hello/ and 
https://liddleworks.com/how-to-add-social-profile-buttons-to-your-google-business-listing/ -->   
    
    <script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Stephen Klatt, MPT Physiotherapist",
  "url" : "https://www.klattphysio.ca",
  "sameAs" : [ "https://www.twitter.com/KlattPhysio",
    "https://www.linkedin.com/in/klattphysio",
    "https://www.instagram.com/klattphysio",
    "https://www.youtube.com/channel/UCdhNII1iflCqr-avtbvD1iw"] 
}
</script>
    
{% seo %}
    
    <!-- favicon code -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NCW58T5');</script>
<!-- End Google Tag Manager -->
    
  </head>

  <body>
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCW58T5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <!-- {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %} -->
          
           {% include nav.html %}
          
          <a>
    <h1 style="padding-top: 72px; margin-top: -40px;"></h1>
</a>

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
         
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
       <!-- {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p> -->
         <center><p> <a href="https://www.instagram.com/KlattPhysio" title="Instagram @KlattPhysio"><i class="fa fa-instagram fa-2x"></i></a> &nbsp;&nbsp;&nbsp;&nbsp; 
           <a href="https://www.youtube.com/channel/UCdhNII1iflCqr-avtbvD1iw" title="Youtube"><i class="fa fa-youtube-play fa-2x"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
           <a href="https://www.klattphysio.ca/inclusion&diversity"><img src="https://img.icons8.com/color/48/000000/heart-rainbow.png" width="36" title="Inclusion & Diversity" alt="Inclusion and Diversity Statement"></a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="https://www.twitter.com/KlattPhysio" title="Twitter @KlattPhysio"><i class="fa fa-twitter-square fa-2x"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
           <a href="https://www.linkedin.com/in/klattphysio" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
           
           <br> - &copy; 2020 Klatt Physiotherapy - <br/>Disclaimer: All the information on this website is for information purposes only and should not be used to make a medical diagnosis or to provide medical treatment. Please seek the advice of a medical professional in person before following any of the recommendations on this website. </p></center>
   
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
